.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.WelcomeScreen {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns vertically center */
  align-items: center; /* Aligns horizontally center */
  height: 100vh;
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  padding: 10% 20px; /* Add top and bottom padding */
}

.WelcomeScreen h1 {
  margin-bottom: 0.5em;
  font-size: 3em;
}

.WelcomeScreen h2 {
  margin-bottom: 2em;
  font-size: 1.5em;
}

/* Button styles are the same, but we don't use absolute positioning */
.StartButton {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #04AA6D;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2em; /* Adds space above the button */
}

.StartButton:hover {
  background-color: #067a52;
}

.StartButton:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

